<!-- <p>
  <button (click)="loadTrackData()">Click to get information</button>
</p> -->

<script src="node_modules/chart.js/src/chart.js"></script>

<h1 align="center">{{data.name}}</h1>

<br />
<br />
<br />


<div *ngIf="audioFeaturesData.id">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [chartType]="radarChartType"
            [legend]="barChartLegend"
            ></canvas>
  </div>
  </div>



<br />
<br />
<br />


<div *ngIf="audioFeaturesData.id">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"                        
            [chartType]="barChartType"
            [legend]="barChartLegend"
    >
    </canvas>
  </div>  
</div>

